- model_class = BudgetYear
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @budget_year.name
%p
  %strong= model_class.human_attribute_name(:budget) + ':'
  %br
  = @budget_year.budget
%p
  %strong= model_class.human_attribute_name(:additional_budget) + ':'
  %br
  = @budget_year.additional_budget


= link_to t('.back', :default => t("helpers.links.back")), budget_years_path, :class => 'btn btn-default'
- if can?(:edit, @budget_year)
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_budget_year_path(@budget_year), :class => 'btn btn-default'
- if can?(:destroy, @budget_year)
  = link_to t('.destroy', :default => t("helpers.links.destroy")), budget_year_path(@budget_year), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
